:root {
  /* Farver */

  --primary-blue: #196472;
  --primary-red: #e6253c;
  --primary-yellow: #ffe000;
  --secondary-blue: #86c3c3;
  --secondary-red: #ffbbb9;
  --secondary-yellow: #ffeda0;
  --tertiary-blue: #e6f1f1;
  --tertiary-red: #ffeeee;
  --tertiary-yellow: #fff8e1;
  --tertiary-grey: #efefef;

  /*Typografi*/
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Prompt", sans-serif;
  background-color: var(--primary-blue);
  color: var(--tertiary-grey);
}
img {
  width: 10%;
  height: auto;
  display: block;
}

body {
  max-width: 2000px;
  min-height: 100vh;
  margin: auto;
}

section {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Typografi mobil */
h1 {
  font-size: 45px;
  font-weight: var(--bold);
  letter-spacing: 5px;
}

h2 {
  font-size: 30px;
  font-weight: var(--bold);
  color: var(--primary-blue);
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  font-weight: var(--medium);
  color: var(--primary-blue);
  text-transform: uppercase;
}
h4 {
  font-size: 18px;
  font-weight: var(--bold);
}

p {
  color: var(--color-tertiary-grey, #efefef);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  line-height: 17.192px; /* 114.613% */
  letter-spacing: 1.5px;
  font-size: 15px;
  font-weight: var(--medium);
  line-height: 17.192px;
}

button {
  font-size: 20px;
  font-weight: var(--light);
  font-family: "Prompt", sans-serif;
  text-transform: uppercase;
}

@media (min-width: 900px) {
  section {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* Typografi web */
  h1 {
    font-size: 120px;
    font-weight: var(--bold);
    letter-spacing: 20px;
  }

  h2 {
    font-size: 50px;
    font-weight: var(--bold);
  }

  h3 {
    font-size: 20px;
    font-weight: var(--medium);
  }
  h4 {
    font-size: 18px;
    font-weight: var(--bold);
  }

  p {
    font-size: 20px;
    font-weight: var(--regular);
    line-height: 25px;
    letter-spacing: 2px;
  }

  button {
    font-size: 20px;
    font-weight: var(--light);
    font-family: "Prompt", sans-serif;
    text-transform: uppercase;
  }
}
