:root {
  /* Farver */

  --primary-blue: #196472;
  --primary-red: #e6253c;
  --primary-yellow: #ffe000;
  --secondary-blue: #86c3c3;
  --secondary-red: #ffbbb9;
  --secondary-yellow: #ffeda0;
  --tertiary-blue: #e6f1f1;
  --tertiary-red: #ffeeee;
  --tertiary-yellow: #fff8e1;
  --tertiary-grey: #efefef;

  /*Typografi
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;
  */
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Prompt", sans-serif;
  background-color: var(--primary-blue);
  color: var(--tertiary-grey);
}
img {
  width: 10%;
  height: auto;
  display: block;
}

body {
  max-width: 2000px;
  min-height: 100vh;
  margin: auto;
}

section {
  padding: 46px;
}

/* Typografi mobil */
h1 {
  font-family: DansestudietDisplay1;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 11.406px; /* 25.346% */
  letter-spacing: 9px;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  color: var(--primary-blue);
  font-family: Prompt;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 133.333% */
  letter-spacing: 6px;
  text-transform: uppercase;
}

h3 {
  color: var(--primary-blue);
  font-family: Prompt;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 4px;
  text-transform: uppercase;
}
h4 {
  font-size: 18px;
  font-weight: var(--bold);
}

p {
  color: var(--color-tertiary-grey, #efefef);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  line-height: 17.192px; /* 114.613% */
  letter-spacing: 1.5px;
  font-size: 15px;
  font-weight: var(--medium);
  line-height: 17.192px;

  font-family: Prompt;
}

button {
  font-size: 20px;
  font-weight: 600;
  font-family: "Prompt", sans-serif;
  text-transform: uppercase;
}

button:hover {
  font-size: 20px;

  font-family: "Prompt", sans-serif;
  text-transform: uppercase;
  color: var(--primary-blue);
}

@media (min-width: 900px) {
  section {
    padding-left: 138px;
    padding-right: 138px;
  }

  /* Typografi web */
  h1 {
    font-family: DansestudietDisplay1;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 120px; /* 100% */
    letter-spacing: 24px;
    text-transform: uppercase;
  }

  h2 {
    font-family: Prompt;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 100% */
    letter-spacing: 10px;
    text-transform: uppercase;
  }

  h3 {
    font-family: Prompt;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.343px; /* 104.478% */
    letter-spacing: 6px;
    text-transform: uppercase;
  }
  h4 {
    font-size: 18px;
    font-weight: var(--bold);
  }

  p {
    font-size: 20px;
    font-weight: var(--regular);
    line-height: 25px;
    letter-spacing: 2px;

    font-family: Prompt;

    font-style: normal;

    line-height: 30px; /* 150% */
  }

  button {
    font-size: 20px;
    font-weight: var(--light);
    font-family: "Prompt", sans-serif;
    text-transform: uppercase;
  }
}
