---
const { titel, underviser, dato, tid } = Astro.props;
import Button from "./Button.astro";
---

<div>
  <div class="event">
    <h3 class="navn">{titel}</h3>
    <div class="linje"></div>
    <p>{underviser}</p>
    <div class="tidspunkt">
    <p class="stor_p">{dato}</p>
    <p class="stor_p" >{tid}</p>
    </div>
    <Button variant="Secondary" size="Large">SE SKEMA HER</Button>
  </div>
</div>

<style>

.tidspunkt{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.stor_p{
    color: var(--primary-blue);
font-weight: 400;
line-height: 2;
letter-spacing: 4px;
text-transform: uppercase;
}

p{
  color: var(--primary-blue);
font-weight: 500;
line-height: 17.192px; /* 114.613% */
letter-spacing: 1.5px;
height: 3rem;
margin-top: 1rem;
}
.linje{
   
  border-bottom: 1px solid var(--primary-blue);
   width: 10rem;
   height: 0.5rem;
   margin-bottom: 1rem;


	}
  .event {
 background-color: var(--secondary-blue);
    display: flex;
flex-direction: column;
align-items: center;

padding: 2.5rem 1rem 2.5rem 1rem;
margin-bottom: 1rem;
    /*
width: 338px;
height: 411px;
flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-blue);
   padding: 1.8rem ;
gap: 29px
*/
    
  }
  @media (min-width: 900px) {

    .linje{
      margin-top: 1rem;
         width: 30rem;
    }
  
    .event {
    display: flex;
width: 532px;
height: 428px;
justify-content: center;
align-items: center;
flex-shrink: 0;

    }

.stor_p{

font-weight: 400;
line-height: 2;
letter-spacing: 6px;
text-transform: uppercase;

}
   
p{
line-height: 2;
letter-spacing: 0.5rem;
}
  }
</style>