

<nav>
   <img class="logo" src="img/logo.png" alt="logo">
</nav>

<style>
 .logo {
        width: 15%;
  height: auto;
  display: block;
   }

       nav {
    padding: 1.5rem;
       background-color: var(--secondary-yellow);
  }

@media (min-width: 900px) {
   .logo {
        width: 5%;
  height: auto;
  display: block;
   }

}
</style>